  <span *ngIf="!isEdit">  body: {{post.body}}, title: {{post.title}}</span> 
  <span *ngIf="isEdit">
    body: <input type="text" [(ngModel)]="post.body"> 
    title: <input type="text" [(ngModel)]="post.title">
  <button (click)="calcelChanges()">cancel</button>
  </span>       
  <button (click)="toggleEdit()" > {{editButtonText}} </button>
  <button (click)="sendDelete()" >Delete</button>